<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap/bootstrap.min.css' %}">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/produto.css' %}">
    <!-- Favicon -->
    <link rel="icon" href="{% static 'app/img/icn.png' %}">
    

    <title>GG Parafusos-Peças - Home</title>

</head>

<body>

    <header>
        {% include "app/header.html"  %}
    </header>

    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h1>Estoque</h1>
                <p class="lead text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lobortis ultricies velit sed porttitor. Donec non porttitor velit. Nam maximus egestas fringilla. Aenean suscipit, est vitae fermentum interdum, lacus ante feugiat felis, at fermentum massa justo in lorem.
                </p>
            </div>
        </section>

    </main>
    

    <script src="{% static 'app/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'app/js/popper.min.js'%}"></script>
    <script src="{% static 'app/js/bootstrap.min.js'%}"></script>
</body>

</html