<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <title>GG Parafusos-Peças - Login</title>
    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap/bootstrap.min.css' %}">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/login1.css' %}">
    <!-- Favicon -->
    <link rel="icon" href="{% static 'app/img/icn.png' %}">
</head>

<body class="text-center">
    <div id="element"> </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.waves.min.js"></script>
    <script>
        VANTA.WAVES({
            el: "#element",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00,
            scale: 1.00,
            scaleMobile: 1.00,
            color: 0x7a7a7a,
            shininess: 17.00,
            waveHeight: 8.00,
            waveSpeed: 1.20,
            zoom: 0.75
        })
    </script>
    <form class="form-signin" action="submit" method="post"> {% csrf_token %}
        <div class="logo">
        <img src="{% static 'app/img/icn.png' %}" alt="">
        </div>
        <h1 class="font-weight-bold parafusos-pecas">Parafusos-Peças</h1>
        {% for message in messages %}
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <div class="checkbox mb-3">
                <!-- apagar dps -->
            </div>
        </div>
        <div class="alert alert-danger" role="alert">
            <strong>{{ message }}</strong> 
        </div>
        {% endfor %}
        <div class="col-sm">
            <div class="checkbox mb-3">
                <!-- apagar dps -->
            </div>
        </div>
        <label for="username" class="sr-only">Usuario</label>
        <input id="username" name="username" type="text" class="form-control" placeholder="Usuário" required autofocus>
        <label for="password" class="sr-only">Senha</label>
        <input id="password" name="password" type="password" class="form-control" placeholder="Senha" required>
        
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <div class="checkbox mb-3">
                    <!-- apagar dps -->
                </div>
            </div>
        </div>
        <button class="btn btn-lg btn-danger btn-block" type="submit">Entrar</button>
        
        <p class="mt-5 mb-3" style="color: black;">&copy; GG Parafusos</p>
    </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'app/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'app/js/popper.min.js'%}"></script>
    <script src="{% static 'app/js/bootstrap.min.js'%}"></script>

</body>

</html>
